footer.b-footer
    .b-footer__contact
        a.b-writeus(href="/#feedback")
            i.b-icon.b-icon_letter
            |Написать письмо
    .b-footer__content Год лошади © 2014 — Конноспортивный клуб | Красноярск