a.b-logo(href="index.html") Год лошади — конно-спортивный клуб Красноярск
nav.b-nav
    a.b-nav__item(href="train.html")
        span.b-nav__item__name тренеры
    a.b-nav__item(href="offers.html")
        span.b-nav__item__name услуги
    a.b-nav__item(href="horses.html")
        span.b-nav__item__name Лошади
    a.b-nav__item(href="#")
        span.b-nav__item__name фотогалерея
    a.b-nav__item(href="#")
        span.b-nav__item__name Контакты
aside.b-sidebar__contact
    a.b-sidebar__contact__phone(href="tel:+79832882165") +7 983 288 21 65
    .b-sidebar__soc
        h3.b-sidebar__soc__title
        a.b-soc-link(href="http://vk.com/", title="Группа «Год лошади» в VK")
            .icon-vkontakte