.b-promo-slider.bxslider
    li.b-promo-slider__slide
        img(src="images/_testslide.jpg", alt="")
        .b-promo-slider__slide__text счастливые часы:<br>только с 1200 — 1400<br>действует скидка 10%
    li.b-promo-slider__slide
        img(src="images/_testslide.jpg", alt="")
        .b-promo-slider__slide__text счастливые часы:<br>только с 1200 — 1400<br>действует скидка 10%
    li.b-promo-slider__slide
        img(src="images/_testslide.jpg", alt="")
        .b-promo-slider__slide__text счастливые часы:<br>только с 1200 — 1400<br>действует скидка 10%