doctype
html.no-js
  head
    include _head.jade
  body.b-body

    .b-page
        .b-sidebar
            include _sidebar.jade

        .b-content-wrap
            .b-content
                header.b-title
                    h1.b-title__name тренеры
                
                aside.b-page-desc.b-page-desc_train
                    img.b-page-desc__img(src="images/_desc-train.jpeg", alt="")
                    h2.b-page-desc__text Лучшие тренеры помогут вам и детям

                ul.b-horse-list
                    li.b-horse-list__item
                        .b-horse
                            a.b-horse__pic(href="#")
                                img(src="http://gettyequinenutrition.biz/durangoandbelle.jpg", alt="Конь")
                                h3.b-horse__name Орион
                                .b-horse__info Русский рысак, вороной
                            hgroup.b-horse__owner
                                h4 Владелец
                                h5 Нужина Александра Яковлевна
                    li.b-horse-list__item
                        .b-horse
                            a.b-horse__pic(href="#")
                                img(src="http://www.oldenburger-hengststation.de/images/junior2.jpg", alt="Конь")
                                .b-horse__name Орион
                                .b-horse__info Русский рысак, вороной
                            hgroup.b-horse__owner
                                h4 Владелец
                                h5 Нужина Александра Яковлевна
                    li.b-horse-list__item
                        .b-horse
                            a.b-horse__pic(href="#")
                                img(src="http://seattletimes.com/ABPub/2008/06/26/2008019496.jpg", alt="Конь")
                                .b-horse__name Орион
                                .b-horse__info Русский рысак, вороной
                            hgroup.b-horse__owner
                                h4 Владелец
                                h5 Нужина Александра Яковлевна
                    li.b-horse-list__item
                        .b-horse
                            a.b-horse__pic(href="#")
                                img(src="http://gettyequinenutrition.biz/durangoandbelle.jpg", alt="Конь")
                                h3.b-horse__name Орион
                                .b-horse__info Русский рысак, вороной
                            hgroup.b-horse__owner
                                h4 Владелец
                                h5 Нужина Александра Яковлевна
                    li.b-horse-list__item
                        .b-horse
                            a.b-horse__pic(href="#")
                                img(src="http://www.oldenburger-hengststation.de/images/junior2.jpg", alt="Конь")
                                .b-horse__name Орион
                                .b-horse__info Русский рысак, вороной
                            hgroup.b-horse__owner
                                h4 Владелец
                                h5 Нужина Александра Яковлевна

            include _footer.jade


    include _scripts.jade